body {
	background: #d2d2c1 url('Arquivos/fundo.png');
	font: 18px Arial, Helvetica, sans-serif;
}


.principal {
	width: 1000px;
}

.menus {
	background: #c5c5b2;
	padding: 18px;
}

.textos {
	background: #e8e8d9;
	text-align: justify;
	padding: 10px;
}

.textos img {
	border: 10px solid;
	border-color: #c3c3ae;
}

.contato {
	font-size: 21px;
	padding: 10px;
}

.rodape {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.assinatura {
	text-align: center;
}

.assinatura img{
	border-radius: 50%;
}


a {
	color: #4b566a;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}

h1 {
	color: #828271;
	font-size: 24px;
}
